.cards-cont {
    width: 100vw;
    height: 70vh;
    margin: 120px 0;
}

.cards-heading {
    width: 100%;
    margin-bottom: 50px;
}

.cards-slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    padding-left: 10px;
}

.cards-slider-cont {
    display: flex;
    z-index: 1;
}

.card-model {
    width: 400px;
    height: 400px;
    justify-self: center;
    margin-right: -10px;
    display: flex;
    border-radius: 20px;
    box-shadow: -10px 10px 5px rgba(66, 50, 50, 0.5);
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}

.text-filter {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .text-filter {
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
    }
  }

.card-quote {
    z-index: 0;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-left-style: none;
    transform: scale3d(1none, 1none, 1none) translate(0px, 0px);
    color: hsla(0, 0.00%, 100.00%, 1.00);
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-shadow: 1px 1px 1px black;;
    transition: opacity .4s ease-in .3s;
    opacity: 1;
}