.team-cont {
    width: 85%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.team-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-member {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border-radius: 20px;
    background-color: white;
}

.team-pic {
    margin: 0 auto;
    height: 200px;
    padding-top: 30px;
    border-radius: 80px;
}

.team-bio {
    color: gray;
    font-size: 14px;
    text-align: left;
    padding: 10px 15px;
    line-height: 22px;
}

@media only screen and (min-width: 650px) {
    .team-bio {
        font-size: 15px;
        line-height: 23px;
    }
}

@media only screen and (min-width: 700px) {
    .team-col {
        flex-direction: row;
    }

    .team-member {
        margin: 20px 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .team-cont {
        width: 75%;
    }
    
    .team-bio {
        font-size: 14px;
        line-height: 22px;
    }
}

@media only screen and (min-width: 1500px) {
    .team-cont {
        width: 60%;
    }
    
    .team-bio {
        font-size: 15px;
        line-height: 23px;
    }
}