.form-cont {
    width: 80%;
    margin: 50px auto;
}

.form-cont h1 {
   font-size: 34px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 5px;
    padding: 5px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-family: 'Euclid Circular B', sans-serif;
    background-color: black;
    border-style: none;
    border-radius: 2px;
    padding: 10px 15px;
}

.form-control {
    border-radius: 3px;
    border-style: none;
    margin-bottom: 8px;
}

.modal-question {
    top: 350px;
    left: 0;
    right: 0;
    width: 85%;
    min-height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    padding: 25px;
    border-color: black;
    position: fixed;
    opacity: 0;
    z-index: 9998;
    visibility: hidden;
    margin: 0 auto;
    transition: opacity 0.7s ease, visibility 0.7s ease, width 0.7s;
    background: url("https://firebasestorage.googleapis.com/v0/b/estonia-experience.appspot.com/o/the_national_flower_of_estonia_by_marshlicious_d960vnf-fullview.jpeg?alt=media&token=36a706f5-b83f-48a2-9bd3-d31df8b71321") center;
    background-size: cover;
}

.modal-question-open {
    opacity: 1;
    visibility: visible;
}

.modal-question-filter {
    width: 85%;
    margin: 0 auto;
    position: relative;
}

.modal-question-filter::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    background-color: #000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    z-index: -1
}

.modal-question-text {
    z-index: 0;
    margin: 0 auto;
    width: 100%;
    padding: 15px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-left-style: none;
    transform: scale3d(1none, 1none, 1none) translate(0px, 0px);
    color: hsla(0, 0.00%, 100.00%, 1.00);
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-shadow: 1px 1px 1px black;;
    transition: opacity .4s ease-in .3s;
    opacity: 1;
}

@media only screen and (min-width: 400px) {
    .form-cont {
        width: 70%;
    }   

    .form-control {
        font-size: 15px;
    }

    .modal-question-filter {
        width: 95%;
    }

    .modal-question-text {
        font-size: 20px;
        line-height: 28px;
    }
}

@media only screen and (min-width: 600px) {
    .modal-question-filter {
        width: 75%;
    }

    .modal-question-text {
        font-size: 22px;
        line-height: 30px;
    }
   
}

@media only screen and (min-width: 750px) {
    .form-cont {
        width: 60%;
    }   

    .modal-question {
        width: 70%;
    }
   
}

@media only screen and (min-width: 1000px) {
    .form-cont {
        width: 50%;
    }  
    
    .modal-question {
        width: 60%;
    }

    .modal-question-text {
        font-size: 24px;
        line-height: 32px;
    }
}

@media only screen and (min-width: 1300px) {
    .form-cont {
        width: 40%;
    }   

    .modal-question {
        width: 50%;
    }

    .modal-question-text {
        font-size: 26px;
        line-height: 34px;
    }
}