.footer-cont {
    background-color: black;
    color: white;
}

.footer-text {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-text h4 {
    margin-bottom: 10px;
}

.footer-text a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.footer-text p {
    font-size: 15px;
}