.footer-cont {
    background-color: black;
    color: white;
    display: flex;
}

.footer-text {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-cont h4 {
    margin-bottom: 10px;
}

.footer-text a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.footer-text p {
    font-size: 12px;
}

.footer-social {
    width: 30%;
    text-align: left;
}

.footer-social img {
    width: 15%;
}

.footer-author {
    margin-top: -10px;
}

.footer-author a {
    color: #F8C217;
    font-size: 13px;
}