.footer-cont {
    background-color: black;
    color: white;
    display: flex;
}

.footer-text {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.footer-cont h4 {
    margin-bottom: 10px;
}

.footer-text a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.footer-text p {
    font-size: 11px;
}

.footer-social {
    width: 30%;
    text-align: left;
}

.footer-social img {
    width: 15%;
}

.footer-author {
    margin-top: -5px;
}

.footer-author a {
    color: #F8C217;
    font-size: 12px;
}

@media only screen and (min-width: 400px) {
    .footer-text a {
        font-size: 16px;
    }

    .footer-text p {
        font-size: 12px;
    }
    .footer-author a {
        font-size: 13px;
    }
}

@media only screen and (min-width: 550px) {
    .footer-text p {
        font-size: 13px;
    }
    .footer-author a {
        font-size: 14px;
    }
}

@media only screen and (min-width: 700px) {
    .footer-cont h4 {
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 11px;
    }

    .footer-text a {
        font-size: 17px;
    }

    .footer-text p {
        font-size: 14px;
    }
    .footer-author a {
        font-size: 15px;
    }

    .footer-social img {
        width: 10%;
    }
}

@media only screen and (min-width: 1000px) {
    .footer-text a {
        font-size: 18px;
    }

    .footer-text p {
        font-size: 15px;
    }
    .footer-author a {
        font-size: 16px;
    }
    
    .footer-social img {
        width: 8%;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-text {
        width: 40%
    }

    .footer-text a {
        font-size: 19px;
    }

    .footer-text p {
        font-size: 16px;
    }
    .footer-author a {
        font-size: 17px;
    }
    
    .footer-social img {
        width: 8%;
    }
}

@media only screen and (min-width: 1500px) {
    .footer-text {
        width: 30%
    }

    .footer-text a {
        font-size: 20px;
    }

    .footer-text p {
        font-size: 17px;
    }
    .footer-author a {
        font-size: 18px;
    }
    
    .footer-social img {
        width: 6%;
    }
}