.testimonials-cont {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.testimonial-card {
    width: 80%;
    min-height: 325px;   
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 3% 0;
    margin: 0 auto;
    position: relative;
}

.testimonial-bio {
    width: 100%;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 1;
    transition: opacity 1s linear;
}

.testimonial-pic img {
    max-width: 35%;
    border-radius: 50%;
}

.testimonial-location {
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 500;
    color: #696d74
}

.testimonial-name {
    color: #4a4545;
    font-size: 0.6em;
    font-weight: 400;
    line-height: 1.3em;
    width: 60%;
}

.testimonial-content {
    padding: 0 3%;
    width: 100%;
    display: flex;
    align-items: center;
}
            
.testimonial-text {
    color: #696d74;
    font-size: 0.7em;
    font-style: italic;
    padding: 0 15px;
    font-weight: 300;
    line-height: 150%;
    text-align: center;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 1s linear;
}

.testimonial-button {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-button img {
    max-height: 50%;
    max-width: 50%;
    margin-left: 5px;
}

.left-button {
    left: -25px;
    background-color: rgb(190, 190, 190);
    transform: rotate(180deg);
}

.right-button {
    right: -25px;
    background-color: rgb(190, 190, 190);
}

.hidden-testimonial {
    opacity: 0;
    transition: opacity 1s linear;
}