.testimonials-cont {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.testimonial-card {
    width: 80%;
    min-height: 450px;   
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 3% 0;
    margin: 20px auto;
    position: relative;
}

.testimonial-bio {
    width: 100%;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 1;
    transition: opacity 1s linear;
}

.testimonial-pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.testimonial-location {
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 500;
    color: #696d74
}

.testimonial-name {
    color: #4a4545;
    font-size: 0.6em;
    font-weight: 400;
    line-height: 1.3em;
    width: 60%;
}

.testimonial-content {
    padding: 0 3%;
    width: 100%;
    display: flex;
    align-items: center;
}
            
.testimonial-text {
    color: #696d74;
    font-size: 0.7em;
    font-style: italic;
    padding: 0 15px;
    font-weight: 300;
    line-height: 150%;
    text-align: center;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 1s linear;
}

.testimonial-button {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-button img {
    max-height: 50%;
    max-width: 50%;
    margin-left: 2px;
}

.left-button {
    left: -15px;
    background-color: rgb(190, 190, 190);
    transform: rotate(180deg);
}

.right-button {
    right: -15px;
    background-color: rgb(190, 190, 190);
}

.hidden-testimonial {
    opacity: 0;
    transition: opacity 1s linear;
}

@media only screen and (min-width: 350px) {
    .testimonial-card {
        min-height: 400px;
    }
}

@media only screen and (min-width: 460px) {
    .testimonial-card {
        min-height: 350px;
    }
}

@media only screen and (min-width: 620px) {
    .testimonial-card {
        min-height: 375px;
    }

    .testimonial-location {
        font-size: 0.9em;
        margin-top: 15px;
    }
    
    .testimonial-name {
        font-size: 0.7em;
        line-height: 1.4em;
        width: 75%;
    }
                
    .testimonial-text {
        font-size: 0.8em;
        padding: 10px 15px;
        line-height: 1.5em;
    }
}

@media only screen and (min-width: 820px) {
    .testimonial-card {
        width: 60%;
    }
}

@media only screen and (min-width: 1100px) {
    .testimonial-card {
        width: 55%;
        min-height: 475px;
    }

    .testimonial-location {
        font-size: 1em;
        margin-top: 18px;
    }

    .testimonial-name {
        font-size: 0.8em;
        line-height: 1.5em;
        width: 75%;
    }
                
    .testimonial-text {
        font-size: 0.9em;
        padding: 10px 15px;
        line-height: 1.6em;
    }

    .testimonial-pic {
        height: 125px;
        width: 125px;
    }
}

@media only screen and (min-width: 1300px) {
    .testimonial-card {
        width: 50%;
        min-height: 300px;
    }
}

@media only screen and (min-width: 1500px) {
    .testimonial-card {
        padding: 0;
        min-height: 400px;
    }
}